/********** Setting the fonts section ***************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

div.flat-nav, div.flat-nav input, div.flat-nav, textarea{
	font-family : 'Open Sans';
}


/********** Setting the Color section ***************/

div.flat-nav .color1, div.flat-nav .color1>ul, div.flat-nav .color1>div{
	background-color : #42444f;
}

div.flat-nav .color2, div.flat-nav .color2>ul, div.flat-nav .color2>div{
	background-color : #42444f;
}

div.flat-nav .color3, div.flat-nav .color3>ul, div.flat-nav .color3>div{
	background-color : #42444f;
}

div.flat-nav .color4, div.flat-nav .color4>ul, div.flat-nav .color4>div{
	background-color : #42444f;
}

div.flat-nav .color5, div.flat-nav .color5>ul, div.flat-nav .color5>div{
	background-color : #42444f;
}


/********** Normal Style for Navigation & utilities ***************/

div.flat-nav{
	display : table;
	width : 100%;
	padding: 0 20px;
	font-size: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #42444f;

}

div.flat-nav .logo{
	font-family : Open sans;
	float : left;
	line-height : 85px;
	color : white;	
	font-size : 30px;
	display : block;
	min-width : 185px;
	text-align : center;
	font-weight : 300;
}

div.flat-nav .responsive-bar{
	display : none;
	width : 100%;
	cursor : pointer;
	line-height : 50px;
}

div.flat-nav .responsive-bar>span{
	float : left;
	color : #ffffff;
	font-size : 25px;
	font-weight : 300;
}

div.flat-nav .responsive-bar>i{
	color: #52C1AE;
	font-size: 25px;
	float: right;
	display: inline-block;
	line-height: 50px;
}

div.flat-nav>ul{
	list-style : none;
	float : right;
	margin : 0;
	padding : 0;
	display : table;
	font-size : 0;
}

div.flat-nav>ul>*{
	font-size : 13px;
}

div.flat-nav>ul>li{
	display : inline-block;
	vertical-align : top;
}

div.flat-nav>ul>li>a{
	height : 85px;
	padding : 0 10px;
	color : white;	
	cursor : pointer;
	min-width : 75px;
	text-align : center;
	display : block;
	font-size : 15px;
	position : relative;
	overflow : hidden;
}

div.flat-nav>ul>li>a>span{
	padding-top : 30px;
	display : block;
	width : 100%;
	left : 0;
	transition : transform .5s, font-size .5s, padding .5s, margin .5s;
	-webkit-transition : -webkit-transform .5s, font-size .5s, padding .5s, margin .5s;
	-o-transition : transform .5s, font-size .5s, padding .5s, margin .5s;
}



div.flat-nav>ul>li:hover>ul{
	display : block;
}

div.flat-nav>ul>li:hover>div{
	display : block;
}

div.flat-nav li>ul{
	position : absolute;
	list-style : none;
	padding : 0;
	display : none;
	color : #ffffff;
	z-index : 1000;
}

div.flat-nav li>ul>li{
	list-style : none;
}

div.flat-nav li>ul>li>a{
	padding : 5px;
	display : block;
	color : #ffffff;
	min-width : 125px;
	padding : 10px 20px;
	cursor : pointer;
	font-size : 14px;
	transition : background-color .3s;
	-webkit-transition : background-color .3s;
}

div.flat-nav li>ul.row-based>li{
	text-align : left;
}

div.flat-nav li>ul.row-based>li>a:hover{
	background-color : rgba(0, 0, 0, .2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff');
}

div.flat-nav>ul>li>div{
	position : absolute;
	right : 20px;
	display : none;
}

div.flat-nav form{
	padding : 20px;
}

div.flat-nav form input, div.flat-nav form textarea{
	display : block;
	width : 190px;
	border : 0;
	padding : 5px;
	margin : 10px 0;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
	box-sizing : border-box;
	font-size : 13px;
}

div.flat-nav ul.column-based{
	right : 20px;
	font-size : 0;
}

div.flat-nav ul.column-based>*{
	font-size : 13px;
}

div.flat-nav ul.column-based>li{
	display : inline-block;
	min-width : 160px;
	vertical-align : top;
	padding : 5px 0;
	
	transition : background-color .2s;
	-webkit-transition : background-color .2s;
}

.column-based a i{
    color: #000000;
    display: block;
    font-size: 31px;
    opacity: 0.4;
	filter: alpha(opacity=40);
    text-align: center;
}

div.flat-nav ul.column-based span{
    display: block;
    padding: 5px 0;
    text-align: center;
}

div.flat-nav ul.column-based>li>a:hover{
	background-color : rgba(256, 256, 256, .1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff');
}

div.flat-nav ul.column-based>li>a{
	padding : 10px 15px; 
	font-size : 16px;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
}


div.flat-nav ul.column-based>li:nth-child(1){
	background-color : rgba(0, 0, 0, .05);
}

div.flat-nav ul.column-based>li:nth-child(2){
	background-color : rgba(0, 0, 0, .1);
}

div.flat-nav ul.column-based>li:nth-child(3){
	background-color : rgba(0, 0, 0, .15);
}

div.flat-nav ul.column-based>li:nth-child(4){
	background-color : rgba(0, 0, 0, .2);
}

div.flat-nav ul.column-based>li:nth-child(5){
	background-color : rgba(0, 0, 0, .25);
}

div.flat-nav ul.column-based>li:nth-child(6){
	background-color : rgba(0, 0, 0, .3);
}

div.flat-nav ul.column-based>li:nth-child(7){
	background-color : rgba(0, 0, 0, .35);
}

div.flat-nav ul.column-based>li:nth-child(8){
	background-color : rgba(0, 0, 0, .4);
}

div.flat-nav ul.column-based>li:nth-child(9){
	background-color : rgba(0, 0, 0, .45);
}

div.flat-nav ul.column-based>li:nth-child(10){
	background-color : rgba(0, 0, 0, .5);
}

div.flat-nav ul.column-based ul{
	display : block;
	position : relative;
}

div.flat-nav ul.column-based img{
	width : 120px;
	border : solid 3px rgba(256, 256, 256, 0.20);
}

div.flat-nav ul.column-based p{
	max-width : 150px;
	color : #ffffff;
	font-size : 13px;
}

div.flat-nav ul.column-based span{
	display : block;
	padding-bottom : 10px;
}

div.flat-nav ul.column-based ul>li{
	padding-left : 5px;
}

div.flat-nav ul.column-based ul>li>a{
	padding : 5px 10px;
	transition : padding-left .3s;
	-webkit-transition : padding-left .3s;
	font-size : 13px;
}

div.flat-nav ul.column-based ul>li>a:hover{
	padding-left : 15px;
}


/********** Transition & EFFECTS section ***************/


div.flat-nav>ul>li.effect1:hover>a>i{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	font-size : 35px;
	padding-top : 25px;
}

div.flat-nav>ul>li.effect1:hover>a>span{
	position : absolute;
	padding-top : 50px;
}

div.flat-nav>ul>li.effect2:hover>a>i{
	padding-top : 5px;
}

div.flat-nav>ul>li.effect2:hover>a>span{
	padding-top : 30px;
}

div.flat-nav>ul>li.effect3:hover>a>i{
	transform : scale(-1, 1);
	-webkit-transform : scale(-1, 1);
}

div.flat-nav>ul>li.effect3:hover>a>span{
	padding-top : 10px;
}

div.flat-nav>ul>li.effect4:hover>a>i{
	padding-top : 45px;
}

div.flat-nav>ul>li.effect4:hover>a>span{
	margin-top : -60px;
	position : absolute;
}

div.flat-nav>ul>li.effect5:hover>a>i{
	margin-left : -20px;

}

div.flat-nav>ul>li.effect5:hover>a>span{
	margin-left : 10px;
	position : absolute;
}





